@page
@model ApproveModel
@{
    ViewData["Title"] = Localizer["Approve Contact Information"];
    ViewData["ActiveMainPage"] = "ContactInformation";
    ViewData["Level1"] = "CMS";
}
<form id="contactInformation-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <partial name="_ApprovalStatusPartial" model="@Model.ApprovalStatus" />
    <div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.ContactInformation" />
    </div>
    <div id="toolbar-container" class="btn-group" role="group">   
        <a asp-page="Index" class="btn btn-secondary" title="@Localizer["Back"]"><i class="fas fa-arrow-left"></i></a>
        @if (Model.ApprovalStatus == BMT.CMS.Core.CMS.ApprovalStatus.ForApproval)
        {
            <button type="button" id="btnApproveConfirmationModal" class="btn btn-primary cancel" name="Handler" value="Approve" title="@Localizer["Approve"]"><i class="fas fa-check"></i></button>
        }
        else
        {
            <button type="button" class="btn btn-secondary" title="@Localizer["Approve"]" disabled><i class="fas fa-check"></i></button>
        }
        @if (Model.ApprovalStatus == BMT.CMS.Core.CMS.ApprovalStatus.ForApproval)
        {
            <button type="button" id="btnRejectConfirmationModal" class="btn btn-danger" name="Handler" value="Reject" title="@Localizer["Reject"]"><i class="fas fa-times"></i></button>
        }
        else
        {
            <button type="button" class="btn btn-secondary" title="@Localizer["Reject"]" disabled><i class="fas fa-times"></i></button>
        }
    </div>
</form>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_DisableFieldsPartial" model="@("contactInformation-form")" />
    <script asp-add-nonce>
        $(document).ready(function () {
            function InitializeForm() {
                $.bindSaveWithRemarksConfirmationModal('Approve', '#btnApproveConfirmationModal', '#contactInformation-form', 'ApprovalRemarks');
                $.bindSaveWithRemarksConfirmationModal('Reject', '#btnRejectConfirmationModal', '#contactInformation-form', 'ApprovalRemarks');
            }
            InitializeForm();
        });
    </script>
}